<!doctype html>
<html>
  <head>
    <title>PromptPanel: Verify Your Email</title>
  </head>
  <body>
    <p>Hi {{ username }},</p>

    <p>Welcome! To complete your registration, please verify your email address by clicking the link below:</p>
    <p><a href="{{ verification_link }}">{{ verification_link }}</a></p>

    <p>This link is valid for the next 15 minutes.</p>

    <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
    <p>Thank you for joining us!</p>
  </body>
</html>
