<!-- prettier-ignore -->
{% extends "base-blank.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
<style>
  .wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s; /* Change to speed up or slow down */
    animation-iteration-count: 2; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
</style>

<div class="flex items-center justify-center h-[100vh] w-full antialiased text-stone-900 bg-stone-100 overflow-y-auto">
  <div class="w-full max-w-md h-full pt-24 p-6">
    <div class="flex items-start mb-6">
      <!-- <span class="wave text-3xl">👋</span> -->
      <div class="">
        <img src="/static/logo.svg" class="mb-3 h-[2rem]" />
        <h1 class="font-serif text-3xl">Welcome back!</h1>
        <p class="text-2xl text-stone-500">Login to continue</p>
      </div>
    </div>
    <script>
      document.addEventListener("alpine:init", () => {
        Alpine.store("loginStore", {
          username: "",
          password: "",
          loginUser() {
            const hostname = window.location.origin;
            const url = hostname + "/api/v1/users/login/";
            const data = {
              username: this.username,
              password: this.password,
            };
            fetch(url, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
              redirect: "follow",
            })
              .then((response) => {
                console.log(response);
                if (response.redirected) {
                  window.location.href = response.url;
                } else {
                  return response.json();
                }
              })
              .then((data) => {
                if (data && data.status !== "success") {
                  let failToast = {
                    type: "error",
                    header: "We had a problem logging into your account. Please try again.",
                    message: data.message,
                  };
                  Alpine.store("toastStore").addToast(failToast);
                }
              })
              .catch((error) => {
                let failToast = {
                  type: "error",
                  header: "We had a problem logging into your account. Please try again.",
                  message: error.message,
                };
                Alpine.store("toastStore").addToast(failToast);
              });
          },
        });
      });
    </script>

    <form class="mb-6" @submit.prevent="$store.loginStore.loginUser()">
      <div class="mb-3">
        <label for="username" class="block text-stone-500 mb-1">Username</label>
        <input x-model="$store.loginStore.username" type="username" required id="username" name="username" placeholder="Username..." class="cursor-text w-full px-2.5 h-9 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10" />
      </div>
      <div class="mb-3">
        <label for="password" class="block text-stone-500 mb-1">Password</label>
        <input x-model="$store.loginStore.password" type="password" required id="password" name="password" placeholder="Password..." class="cursor-text w-full px-2.5 h-9 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10" />
      </div>
      <button type="submit" class="flex items-center justify-center w-full font-semibold bg-primary px-2.5 h-9 rounded-md shadow-sm text-stone-50 transition duration-500 hover:shadow-lg focus:shadow-none focus:opacity-80">Sign In</button>
    </form>

    {% if env_oidc_display %}
    <a href="/oauth/login" class="-mt-3 flex items-center justify-center font-semibold text-stone-500 px-2.5 h-9 rounded-md transition duration-500 hover:bg-stone-200 hover:text-stone-800 focus:bg-stone-300">
      <svg class="mr-1.5" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" dataSlot="icon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M15.75 1.5a6.75 6.75 0 0 0-6.651 7.906c.067.39-.032.717-.221.906l-6.5 6.499a3 3 0 0 0-.878 2.121v2.818c0 .414.336.75.75.75H6a.75.75 0 0 0 .75-.75v-1.5h1.5A.75.75 0 0 0 9 19.5V18h1.5a.75.75 0 0 0 .53-.22l2.658-2.658c.19-.189.517-.288.906-.22A6.75 6.75 0 1 0 15.75 1.5Zm0 3a.75.75 0 0 0 0 1.5A2.25 2.25 0 0 1 18 8.25a.75.75 0 0 0 1.5 0 3.75 3.75 0 0 0-3.75-3.75Z" clip-rule="evenodd"></path></svg>
      Sign in with {{ env_oidc_display }}
    </a>
    {% endif %}

    <!-- <p class="text-stone-500">Need a new account? <a class="font-semibold text-emerald-600 hover:text-emerald-800" href="#!">Sign up</a> here.</p> -->
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get("logged_out") === "true") {
      successToast = {
        type: "success",
        header: "Logged out successfully",
        message: "You have been logged out successfully. Please sign back in to continue.",
      };
      Alpine.store("toastStore").addToast(successToast);
    }
    if (urlParams.get("oauth_failed_login") === "true") {
      failToast = {
        type: "error",
        header: "OAuth login did not succeed",
        message: "Your OAuth failed during the login stage. Contact your administrator and check your logs for more details.",
      };
      Alpine.store("toastStore").addToast(failToast);
    }
    if (urlParams.get("oauth_failed_callback") === "true") {
      failToast = {
        type: "error",
        header: "OAuth login did not succeed",
        message: "Your OAuth failed during the callback parsing stage. Contact your administrator and check your logs for more details.",
      };
      Alpine.store("toastStore").addToast(failToast);
    }
    if (urlParams.get("oauth_failed_domain") === "true") {
      failToast = {
        type: "error",
        header: "Account domain not allowed",
        message: "Your domain is not allowed based on the allowed domains setup by your administrator.",
      };
      Alpine.store("toastStore").addToast(failToast);
    }
  });
</script>
{% endblock content %}
