<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %}Local Models{% endblock title %}
{% block content %}
<script>
  document.addEventListener("alpine:init", () => {
    Alpine.store("active", {
      user_id: Number("{{user_id}}"),
      initialEmail: "{{user_email}}",
      email: "{{user_email}}",
      username: "{{user_username}}",
      currentSetting: "ollama_model",
    });
  });
</script>
<script is:inline src="/static/promptpanel/stores/ollama_model.js"></script>
<div x-cloak x-data="localModelState()" x-init="getModels()">
  {% include "components/nav-profile.html" %}

  <!-- Create Model -->
  <div :class="{'-right-[100vw]': !modalCreateModel, 'right-3': modalCreateModel}" class="transition-all fixed mx-auto z-[101] max-w-xl w-full h-[calc(100vh-4.15rem)] bg-stone-50 border-x border-stone-200 overflow-y-auto -lg:border-none -lg:max-w-[100vw] -lg:shadow-none shadow-[-4px_0_6px_-2px_rgba(0,0,0,0.05)] right-0 rounded-r-lg">
    <div class="flex items-center px-3 pt-3 mb-1.5">
      <button @click="modalCreateModel = false" class="mr-1.5 cursor-pointer flex items-center justify-center text-sm font-semibold text-stone-500 rounded hover:text-stone-900 hover:bg-stone-200 h-7 w-7 -lg:min-h-9 -lg:min-w-9">
        <svg class="w-5 h-5 -lg:min-w-6 -lg:min-h-6" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd"></path></svg>
      </button>
      <h2 class="text-xl font-semibold line-clamp-1">Pull Model</h2>
    </div>
    <form class="px-3 pt-0.5 pb-20" @submit.prevent="createModel()">
      <div class="grid grid-cols-3 gap-3">
        <div @click="modelForCreate.modelName = 'gemma:2b'" class="mb-3 cursor-pointer group flex items-start bg-white rounded-md border p-3" :class="{'border-primary ring-2 ring-primary/10': modelForCreate.modelName == 'gemma:2b', 'border-stone-300 shadow-sm hover:border-stone-400/70 hover:shadow': modelForCreate.modelName != 'gemma:2b'}">
          <div>
            <img src="/static/promptpanel/img/logo-gemini.png" class="w-14 -ml-3" />
            <p class="font-semibold mb-0.5">Gemma 2B</p>
            <div class="flex items-start">
              <p class="text-sm">Open model built by Google DeepMind.</p>
            </div>
          </div>
        </div>

        <div @click="modelForCreate.modelName = 'phi3:3.8b'" class="mb-3 cursor-pointer group flex items-start bg-white rounded-md border p-3" :class="{'border-primary ring-2 ring-primary/10': modelForCreate.modelName == 'phi3:3.8b', 'border-stone-300 shadow-sm hover:border-stone-400/70 hover:shadow': modelForCreate.modelName != 'gemma:2b'}">
          <div>
            <img src="/static/promptpanel/img/logo-microsoft.png" class="w-14 -ml-3" />
            <p class="font-semibold mb-0.5">Phi-3.8B</p>
            <div class="flex items-start">
              <p class="text-sm">Small model created by Microsoft.</p>
            </div>
          </div>
        </div>

        <div @click="modelForCreate.modelName = 'gemma:7b'" class="mb-3 cursor-pointer group flex items-start bg-white rounded-md border p-3" :class="{'border-primary ring-2 ring-primary/10': modelForCreate.modelName == 'gemma:7b', 'border-stone-300 shadow-sm hover:border-stone-400/70 hover:shadow': modelForCreate.modelName != 'gemma:7b'}">
          <div>
            <img src="/static/promptpanel/img/logo-gemini.png" class="w-14 -ml-3" />
            <p class="font-semibold mb-0.5">Gemma 7B</p>
            <div class="flex items-start">
              <p class="text-sm">Open model built by Google DeepMind.</p>
            </div>
          </div>
        </div>

        <div @click="modelForCreate.modelName = 'mistral:7b'" class="mb-3 cursor-pointer group flex items-start bg-white rounded-md border p-3" :class="{'border-primary ring-2 ring-primary/10': modelForCreate.modelName == 'mistral:v0.2', 'border-stone-300 shadow-sm hover:border-stone-400/70 hover:shadow': modelForCreate.modelName != 'mistral:v0.2'}">
          <div>
            <img src="/static/promptpanel/img/logo-mistral.png" class="w-14 -ml-3" />
            <p class="font-semibold mb-0.5">Mistral 7B</p>
            <div class="flex items-start">
              <p class="text-sm">Open language model by Mistral AI.</p>
            </div>
          </div>
        </div>

        <div @click="modelForCreate.modelName = 'llama3:8b'" class="mb-3 cursor-pointer group flex items-start bg-white rounded-md border p-3" :class="{'border-primary ring-2 ring-primary/10': modelForCreate.modelName == 'llama3:8b', 'border-stone-300 shadow-sm hover:border-stone-400/70 hover:shadow': modelForCreate.modelName != 'llama2:7b'}">
          <div>
            <img src="/static/promptpanel/img/logo-meta.png" class="w-14 -ml-3" />
            <p class="font-semibold mb-0.5">Llama3 8B</p>
            <div class="flex items-start">
              <p class="text-sm">Foundation language models by Meta.</p>
            </div>
          </div>
        </div>

        <div @click="modelForCreate.modelName = 'qwen:14b'" class="mb-3 cursor-pointer group flex items-start bg-white rounded-md border p-3" :class="{'border-primary ring-2 ring-primary/10': modelForCreate.modelName == 'qwen:14b', 'border-stone-300 shadow-sm hover:border-stone-400/70 hover:shadow': modelForCreate.modelName != 'yi:34b'}">
          <div>
            <img src="/static/promptpanel/img/logo-qwen.png" class="w-14 -ml-3" />
            <p class="font-semibold mb-0.5">Qwen 14B</p>
            <div class="flex items-start">
              <p class="text-sm">Foundation language model by Alibaba.</p>
            </div>
          </div>
        </div>

        <div @click="modelForCreate.modelName = 'yi:34b'" class="mb-3 cursor-pointer group flex items-start bg-white rounded-md border p-3" :class="{'border-primary ring-2 ring-primary/10': modelForCreate.modelName == 'yi:34b', 'border-stone-300 shadow-sm hover:border-stone-400/70 hover:shadow': modelForCreate.modelName != 'yi:34b'}">
          <div>
            <img src="/static/promptpanel/img/logo-yi.png" class="w-14 -ml-3" />
            <p class="font-semibold mb-0.5">Yi 34B</p>
            <div class="flex items-start">
              <p class="text-sm">Bilingual language model by 01.AI.</p>
            </div>
          </div>
        </div>

        <div @click="modelForCreate.modelName = 'command-r:35b'" class="mb-3 cursor-pointer group flex items-start bg-white rounded-md border p-3" :class="{'border-primary ring-2 ring-primary/10': modelForCreate.modelName == 'command-r:34b', 'border-stone-300 shadow-sm hover:border-stone-400/70 hover:shadow': modelForCreate.modelName != 'llama2:13b'}">
          <div>
            <img src="/static/promptpanel/img/logo-cohere.png" class="w-14 -ml-3" />
            <p class="font-semibold mb-0.5">Command R 35B</p>
            <div class="flex items-start">
              <p class="text-sm">Foundation language models by Cohere.</p>
            </div>
          </div>
        </div>

        <div @click="modelForCreate.modelName = 'mixtral:8x7b'" class="mb-3 cursor-pointer group flex items-start bg-white rounded-md border p-3" :class="{'border-primary ring-2 ring-primary/10': modelForCreate.modelName == 'mixtral:8x7b', 'border-stone-300 shadow-sm hover:border-stone-400/70 hover:shadow': modelForCreate.modelName != 'mixtral:8x7b'}">
          <div>
            <img src="/static/promptpanel/img/logo-mistral.png" class="w-14 -ml-3" />
            <p class="font-semibold mb-0.5">Mixtral 8x7B</p>
            <div class="flex items-start">
              <p class="text-sm">Mixture of Experts model by Mistral AI.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="flex items-center"><span>Model</span><span class="ml-0.5 text-rose-600">*</span></div>
        <p class="text-stone-500 text-sm">Use a model name to pull from the library: https://ollama.com/library.</p>
        <p class="text-stone-500 text-sm mb-0.5">For example: `llama2:7b`</p>
        <input x-model="modelForCreate.modelName" required placeholder="Model..." class="w-full h-10 px-3 py-1 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10" />
        <p class="mt-0.5 text-stone-500 text-sm">* Larger parameter models require more memory from your machine.</p>
      </div>
    </form>
    <div class="fixed bottom-0 mb-4 py-2 px-3 bg-stone-50 border-t border-stone-200 w-full max-w-xl -lg:max-w-[100vw]">
      <div class="flex items-center">
        <button @click="modalCreateModel = false" class="ml-auto flex items-center justify-center font-semibold text-stone-500 px-2.5 h-9 rounded-md transition duration-500 hover:bg-stone-200 hover:text-stone-800 focus:bg-stone-300">Cancel</button>
        <button @click="createModel()" class="ml-1.5 flex items-center justify-center font-semibold bg-primary px-2.5 h-9 rounded-md shadow-sm text-stone-50 transition duration-500 hover:shadow-lg focus:shadow-none">Pull Model</button>
      </div>
    </div>
  </div>

  <!-- Model List -->
  <div class="absolute w-[calc(100%-20rem)] h-full right-0 overflow-y-auto -lg:relative -lg:block -lg:w-full">
    <div class="my-20 max-w-4xl mx-auto px-4">
      {% if env_ollama %}
      <div class="flex items-center mb-6">
        <div>
          <h1 class="font-serif text-3xl">Manage Ollama</h1>
          <p class="text-stone-500">Local model inference powered by Ollama.</p>
        </div>
        <button @click="modalCreateModel = true" class="ml-auto flex items-center justify-center font-semibold text-stone-500 px-2.5 h-9 rounded-md transition duration-500 border border-stone-200 hover:bg-stone-200 hover:text-stone-800 focus:bg-stone-300">
          <svg class="mr-1 w-4.5 h-4.5" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"></path></svg>
          Pull Model
        </button>
      </div>
      <div class="border border-stone-200 rounded-md shadow-sm overflow-x-auto">
        <table class="w-full text-left">
          <thead class="bg-stone-100 border-b-2 border-stone-200">
            <tr>
              <th class="px-2 py-1 text-sm font-semibold text-stone-600">Name</th>
              <th class="px-2 py-1 text-sm font-semibold text-stone-600">Model</th>
              <th class="px-2 py-1 text-sm font-semibold text-stone-600">Size</th>
              <th class="px-2 py-1 text-sm font-semibold text-stone-600">Parameters</th>
              <th class="px-2 py-1 text-sm font-semibold text-stone-600">Quantization</th>
              <th class="px-2 py-1 text-sm font-semibold text-stone-600"></th>
            </tr>
          </thead>
          <tbody>
            <template x-for="model in models" :key="model.name">
              <tr class="border-b border-stone-200 last:border-transparent">
                <td class="px-2 py-1" x-text="model.name">Name</td>
                <td class="px-2 py-1" x-text="model.model">Model</td>
                <td class="px-2 py-1" x-text="`${(model.size / 1073741824).toFixed(2)} GB`">Size</td>
                <td class="px-2 py-1" x-text="model.details.parameter_size">Parameters</td>
                <td class="px-2 py-1" x-text="model.details.quantization_level">Quantization</td>
                <td class="px-2 py-1">
                  <div @click="removeModel(model.name)" class="cursor-pointer text-sm font-semibold flex items-center text-stone-500 hover:text-rose-600">
                    <svg class="mr-1" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd"></path></svg>
                    <p>Remove</p>
                  </div>
                </td>
              </tr>
            </template>
            <template x-for="model in modelsDownloading">
              <tr class="border-b border-stone-200 last:border-transparent">
                <td class="px-2 py-1 text-stone-500" x-text="model">Name</td>
                <td class="px-2 py-1 text-stone-500" colspan="5">
                  <div class="flex items-center">
                    <svg class="animate-spin mr-1 h-3.5 w-3.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                    <p>Downloading and loading...</p>
                  </div>
                </td>
              </tr>
            </template>
            <tr x-show="models.length == 0 && modelsDownloading.length == 0">
              <td colspan="6" class="text-center text-stone-500 px-2 py-10">
                <p>No local AI models added. <a href="#!" @click="modalCreateModel = true" class="underline hover:text-stone-900">Pull one</a> to continue.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %} {% if not env_ollama %}
      <div class="flex items-center justify-center mt-6">
        <div class="max-w-md">
          <img src="/static/promptpanel/img/logo-ollama-transparent.png" class="mb-3 w-7" />
          <p class="text-stone-500 font-semibold mb-1.5">Ollama is not configured for offline inference.</p>
          <p class="text-stone-500">Read more on how to <a class="underline hover:text-primary" href="https://promptpanel.com/documentation/quickstart/" target="_new">upgrade your container</a> to include inference, or run our <a class="underline hover:text-primary" href="https://promptpanel.com/getting-started/quickstart/" target="_new">docker compose</a> which includes offline inference built-in.</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
