<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %}{{ app_title }} - Update Password{% endblock title %}
{% block content %}
<script>
  document.addEventListener("alpine:init", () => {
    Alpine.store("active", {
      user_id: Number("{{user_id}}"),
      initialEmail: "{{user_email}}",
      email: "{{user_email}}",
      username: "{{user_username}}",
      currentSetting: "update_password",
    });
  });
</script>
<script is:inline src="/static/promptpanel/stores/user.js"></script>
<div x-cloak x-data="userState()">
  {% include "components/nav-profile.html" %}

  <div class="absolute w-[calc(100%-20rem)] h-full right-0 overflow-y-auto -lg:relative -lg:block -lg:w-full">
    <div class="my-20 max-w-md mx-auto px-4">
      <h1 class="font-serif text-3xl mb-6">Update Password</h1>
      <p class="mb-3 text-stone-500"><span class="font-semibold">Note:</span> When updating your account password you will be logged-out and prompted to login using your new password to continue.</p>

      <form class="mb-6" @submit.prevent="updatePassword()">
        <div class="mb-3">
          <label for="email" class="block text-stone-500 mb-1">Username</label>
          <input x-model="username" type="username" disabled id="username" name="username" placeholder="Username..." class="cursor-not-allowed w-full px-2.5 h-9 rounded-md bg-stone-100 border border-transparent outline-none transition text-stone-500" />
        </div>
        <div class="mb-3">
          <label for="password" class="block text-stone-500 mb-1">Password</label>
          <input x-model="password" @input.debounce="checkPassword()" required type="password" id="password" name="password" placeholder="Password..." class="cursor-text w-full px-2.5 h-9 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10" />
        </div>
        <div class="mb-3">
          <label for="passwordRepeat" class="block text-stone-500 mb-1">Repeat Password</label>
          <input x-model="passwordRepeat" @input.debounce="checkPassword()" required type="password" id="passwordRepeat" name="passwordRepeat" placeholder="Repeat Password..." class="cursor-text w-full px-2.5 h-9 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10" />
        </div>

        <div class="mb-3">
          <template x-if="!userState.length">
            <div class="flex items-center">
              <div class="flex items-center justify-center bg-stone-300 w-2 h-2 mr-1.5 rounded-full"></div>
              <p class="text-stone-500">Passwords are more than 6 characters</p>
            </div>
          </template>
          <template x-if="userState.length">
            <div class="flex items-center">
              <div class="flex items-center justify-center bg-emerald-600 w-2 h-2 mr-1.5 rounded-full"></div>
              <p class="">Passwords are more than 6 characters</p>
            </div>
          </template>

          <template x-if="!userState.special">
            <div class="flex items-center">
              <div class="flex items-center justify-center bg-stone-300 w-2 h-2 mr-1.5 rounded-full"></div>
              <p class="text-stone-500">Passwords contain a special character</p>
            </div>
          </template>
          <template x-if="userState.special">
            <div class="flex items-center">
              <div class="flex items-center justify-center bg-emerald-600 w-2 h-2 mr-1.5 rounded-full"></div>
              <p class="">Passwords contain a special character</p>
            </div>
          </template>

          <template x-if="!userState.match">
            <div class="flex items-center">
              <div class="flex items-center justify-center bg-stone-300 w-2 h-2 mr-1.5 rounded-full"></div>
              <p class="text-stone-500">Passwords match</p>
            </div>
          </template>
          <template x-if="userState.match">
            <div class="flex items-center">
              <div class="flex items-center justify-center bg-emerald-600 w-2 h-2 mr-1.5 rounded-full"></div>
              <p class="">Passwords match</p>
            </div>
          </template>
        </div>

        <template x-if="userState.match && userState.special && userState.length">
          <button type="submit" class="ml-auto flex items-center justify-center font-semibold bg-primary px-2.5 h-9 rounded-md shadow-sm text-stone-50 transition duration-500 hover:shadow-lg focus:shadow-none">Update Password</button>
        </template>
        <template x-if="!userState.match || !userState.special || !userState.length">
          <button class="ml-auto cursor-not-allowed flex items-center justify-center font-semibold bg-stone-100 px-2.5 h-9 rounded-md text-stone-400">Update Password</button>
        </template>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
