<!-- prettier-ignore -->
{% extends "base-blank.html" %}
{% block title %}Password Reset Request{% endblock title %}
{% block content %}
<div x-data x-cloak class="flex items-center justify-center h-[100vh] w-full antialiased text-stone-900 bg-stone-100 overflow-y-auto">
  <div class="w-full max-w-md h-full pt-24 p-6">
    <img src="/static/logo.svg" class="mb-3 h-[2rem]" />
    <h1 class="font-serif text-3xl mb-0.5">Reset Your Password</h1>
    <p class="mb-3 text-xl text-stone-500">Enter your registered email to receive a link to reset your account's password.</p>

    <a href="/login">
      <div class="flex items-center mb-3 text-stone-500 font-semibold hover:text-primary">
        <svg class="mr-1.5" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd"></path>
        </svg>
        <p>Back to Login</p>
      </div>
    </a>

    <!-- <p class="mb-3 text-stone-500 text-sm">Your first account will be registered as an activated administrator - all future sign-ups will need to be activated by an administrator account.</p> -->
    <script>
      document.addEventListener("alpine:init", () => {
        Alpine.store("registerStore", {
          email: "",
          resetPassword() {
            const hostname = window.location.origin;
            const url = hostname + "/api/v1/users/reset_password_request/";
            const data = {
              email: this.email,
            };
            fetch(url, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.status === "success") {
                  window.location.href = "/login/?reset_password_request=true";
                } else {
                  failToast = {
                    type: "error",
                    header: "We had a problem requesting a password reset. Please try again.",
                    message: data.message,
                  };
                  Alpine.store("toastStore").addToast(failToast);
                }
              })
              .catch((error) => {
                let failToast = {
                  type: "error",
                  header: "We had a problem requesting a password reset. Please try again.",
                  message: error.message,
                };
                Alpine.store("toastStore").addToast(failToast);
              });
          },
        });
      });
    </script>
    <form class="mb-3" @submit.prevent="$store.registerStore.resetPassword()">
      <div class="mb-3">
        <label for="email" class="block text-stone-500 mb-1">Email</label>
        <input x-model="$store.registerStore.email" type="email" required id="email" name="email" placeholder="Email..." class="cursor-text w-full h-9 px-2.5 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10" />
      </div>
      <button type="submit" class="flex items-center justify-center w-full font-semibold bg-primary px-2.5 h-10 rounded-md shadow-sm text-stone-50 transition duration-500 hover:shadow-lg focus:opacity-80 focus:shadow-none">Request Password Reset</button>
    </form>
    <div class="h-12 text-stone-500 text-sm text-center"></div>
  </div>
</div>

{% endblock content %}
