.hljs,
pre > code {
  display: block;
  color: #d6d3d1;
  background: #1c1917;
  border-radius: 0.375rem;
  padding: 0.75rem;
  font-size: 1rem;
  overflow-x: auto;
}
code {
  color: #57534e;
  background: #e7e5e4;
  padding: 1px 0.375rem;
  border-radius: 0.25rem;
}
blockquote {
  padding-left: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-left: 0.35rem;
  border-color: rgb(231 229 228);
  border-left-width: 2px;
}
