<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %}Create Panel{% endblock title %}
{% block content %}
<!-- Stores -->
<script>
  document.addEventListener("alpine:init", () => {
    Alpine.store("active", {
      user_id: Number("{{user_id}}"),
      licence_plan: "{{licence_plan}}",
    });
  });
</script>
<script is:inline src="/static/promptpanel/stores/panel.js"></script>
<div x-cloak x-data="panelUpdateState()" x-init="getPlugins(), getUsers()" class="relative h-full w-full">
  <!-- Left Side -->
  <div :class="{'-lg:-left-[100vw]': activeMobileTab !== 'pluginSelect', '-lg:left-0': activeMobileTab == 'pluginSelect'}" class="absolute w-80 py-3 px-4 h-full bg-stone-50 border-r border-stone-200 overflow-y-auto z-10 -lg:w-full">
    <h1 class="mb-0.5 text-xl font-serif -lg:text-3xl -lg:mb-1">Create Panel</h1>
    <p class="mb-1.5 text-sm text-stone-500">Panels are powered by <a href="https://promptpanel.com/included-plugins/openai-gpt/" target="_new" class="underline hover:text-primary">plugins</a>, select a plugin below to get started.</p>
    <div class="relative mb-3">
      <svg class="w-5 h-5 absolute top-2 left-2.5 text-stone-500" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 100 13.5 6.75 6.75 0 000-13.5zM2.25 10.5a8.25 8.25 0 1114.59 5.28l4.69 4.69a.75.75 0 11-1.06 1.06l-4.69-4.69A8.25 8.25 0 012.25 10.5z" clip-rule="evenodd"></path></svg>
      <input x-model="pluginSearchInput" id="search" name="search" placeholder="Search Plugins..." class="pl-9 cursor-text w-full h-9 px-2.5 py-1 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10" />
    </div>
    <div class="">
      <template x-for="category in pluginCategories" :key="category">
        <div>
          <p class="font-semibold text-xs text-stone-500 uppercase tracking-wider mt-3 mb-1" x-text="category"></p>
          <template x-for="plugin in filteredPlugins" :key="plugin.id">
            <template x-if="category == plugin.category">
              <div @click="if (activePluginID == '' || confirm('Are you sure you want to switch plugins? Your current settings will be cleared.')) { activePluginID = plugin.id; setActivePlugin(); }" class="cursor-pointer group flex items-center w-full p-1 pr-2 mb-1 rounded-md text-stone-500 transition duration-500 hover:text-stone-900 -lg:p-3" :class="{ 'bg-stone-200/75 !text-stone-900': activePluginID == plugin.id }">
                <div class="flex items-center justify-center w-7 h-7 rounded-md overflow-hidden">
                  <img :src="`/plugins/${plugin.id}/static/icon.png`" @error="event.target.src='/static/promptpanel/img/default-plugin.png'" class="w-full" />
                </div>
                <p class="font-semibold ml-1.5 line-clamp-1" x-text="plugin.name"></p>
                <div x-show="activePluginID != plugin.id" class="ml-auto w-5 h-5 bg-stone-200/75 rounded-full opacity-0 group-hover:opacity-100"></div>
                <svg x-show="activePluginID == plugin.id" class="ml-auto w-5 h-5 text-primary" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd"></path></svg>
              </div>
            </template>
          </template>
        </div>
      </template>
      <a href="https://promptpanel.com/included-plugins/openai-gpt/" class="group cursor-pointer group flex items-center w-full px-1 rounded-md font-semibold text-stone-500 transition duration-500 hover:text-stone-900 -lg:p-3">
        <div class="flex items-center justify-center w-7 h-7">
          <svg class="w-4 h-4" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 01.75.75v11.25a.75.75 0 01-1.5 0V6.31L5.03 20.03a.75.75 0 01-1.06-1.06L17.69 5.25H8.25a.75.75 0 010-1.5z" clip-rule="evenodd"></path></svg>
        </div>
        <p class="ml-1.5">Build Your Own</p>
      </a>
    </div>
  </div>
  <!-- Right Side -->
  <div :class="{'-lg:-right-[100vw]': activeMobileTab !== 'panelSetting', '-lg:right-0': activeMobileTab == 'panelSetting'}" class="absolute w-[calc(100%-20rem)] h-full bg-white right-0 overflow-y-auto z-10 -lg:w-full">
    <div class="py-3 px-4 min-h-screen">
      <div x-show="activePluginID == ''" class="mt-12">
        <svg class="w-6 h-6 text-stone-400 mb-1.5 mx-auto" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M320,32a32,32,0,0,0-64,0v96h64Zm48,128H16A16,16,0,0,0,0,176v32a16,16,0,0,0,16,16H32v32A160.07,160.07,0,0,0,160,412.8V512h64V412.8A160.07,160.07,0,0,0,352,256V224h16a16,16,0,0,0,16-16V176A16,16,0,0,0,368,160ZM128,32a32,32,0,0,0-64,0v96h64Z"></path></svg>
        <p class="text-stone-400 text-sm text-center">Select a plugin to create your panel.</p>
      </div>
      <div x-show="activePluginID !== ''" class="px-4 py-3 mt-3 max-w-2xl mx-auto">
        <div @click="activeMobileTab = 'pluginSelect'" class="lg:hidden mb-4 flex items-center cursor-pointer bg-stone-100 text-stone-500 w-max p-3 py-1.5 rounded-md hover:text-stone-800">
          <svg class="w-4 h-4 mr-1" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 010-1.06l7.5-7.5a.75.75 0 111.06 1.06L9.31 12l6.97 6.97a.75.75 0 11-1.06 1.06l-7.5-7.5z" clip-rule="evenodd"></path></svg>
          <p class="font-semibold">Select Plugin</p>
        </div>
        <h2 class="text-3xl font-serif line-clamp-1 mb-1" x-text="activePlugin.name">Title Plugin</h2>
        <div x-html="activePlugin.description" class="pemerald max-h-[10rem] text-stone-500 mb-6 overflow-hidden"></div>
        <div class="mb-3">
          <div class="flex items-center"><span class="">Panel Name</span><span class="ml-0.5 text-rose-600">*</span></div>
          <input type="text" x-model="createName" required placeholder="Panel Name..." class="w-full h-9 px-2.5 py-1 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10" />
        </div>
        <div class="mb-3">
          <label class="flex items-center"><span>Display Picture</span></label>
          <div class="flex items-center">
            <div :class="{'border border-stone-400/50': !createDisplayImg}" class="flex items-center justify-center min-w-9 h-9 rounded-md overflow-hidden mr-1.5">
              <img x-show="createDisplayImg" :src="createDisplayImg" alt="Display Picture Preview" class="w-full h-full" />
              <svg class="text-stone-400 w-5 h-5" x-show="!createDisplayImg" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd"></path></svg>
            </div>
            <label for="display-picture-upload" class="cursor-pointer w-full h-9 px-2.5 py-1 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none overflow-hidden transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10">
              <p x-show="!createDisplayImg" class="text-stone-400">Upload Display Picture...</p>
              <p x-show="createDisplayImg" x-text="createDisplayImg" class="text-stone-700"></p>
            </label>
            <input id="display-picture-upload" type="file" @change="displayImgUpload" class="hidden" />
            <button @click="createDisplayImg = null" type="button" class="ml-1.5 h-9 px-2.5 py-1 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10">Clear</button>
          </div>
        </div>

        <div class="flex items-center mt-6 mb-3">
          <button x-show="!showAccessControls" class="flex items-center justify-center font-semibold px-2.5 h-9 rounded-md transition duration-500 text-stone-800 bg-stone-200">Panel Options</button>
          <button x-show="showAccessControls" @click="showAccessControls = false" class="flex items-center justify-center font-semibold text-stone-500 px-2.5 h-9 rounded-md transition duration-500 hover:bg-stone-200 hover:text-stone-800">Panel Options</button>
          <button x-show="!showAccessControls" @click="showAccessControls = true" class="ml-1.5 flex items-center justify-center font-semibold text-stone-500 px-2.5 h-9 rounded-md transition duration-500 hover:bg-stone-200 hover:text-stone-800">
            Access Control
            <span x-show="createUserMode == 'adminOnly'" class="ml-1.5 font-semibold px-1.5 py-1 rounded-md text-xs text-stone-800 bg-stone-300">Admins Only</span>
            <span x-show="createUserMode == 'global'" class="ml-1.5 font-semibold px-1.5 py-1 rounded-md text-xs text-stone-800 bg-stone-300">All Active Users</span>
            <span x-show="createUserMode == 'selectUsers'" x-text="createUsers.length + ' Selected Users'" class="ml-1.5 font-semibold px-1.5 py-1 rounded-md text-xs text-stone-800 bg-stone-300">Select Users</span>
          </button>
          <button x-show="showAccessControls" class="ml-1.5 flex items-center justify-center font-semibold px-2.5 h-9 rounded-md transition duration-500 text-stone-800 bg-stone-200">
            Access Control
            <span x-show="createUserMode == 'adminOnly'" class="ml-1.5 font-semibold px-1.5 py-1 rounded-md text-xs text-stone-50 bg-primary">Admins Only</span>
            <span x-show="createUserMode == 'global'" class="ml-1.5 font-semibold px-1.5 py-1 rounded-md text-xs text-stone-50 bg-primary">All Active Users</span>
            <span x-show="createUserMode == 'selectUsers'" x-text="createUsers.length + ' Selected Users'" class="ml-1.5 font-semibold px-1.5 py-1 rounded-md text-xs text-stone-50 bg-primary">Select Users</span>
          </button>
        </div>

        <div x-show="showAccessControls">
          <p class="">Who should have access to this Panel?</p>
          <p class="text-stone-500 text-sm mb-1.5">Only Admins can modify Panels. Admins can access all Panels.</p>
          <div class="grid grid-cols-3 gap-3 mb-4">
            <div @click="createUserMode = 'adminOnly'" class="cursor-pointer group flex items-start bg-white rounded-md border p-3" :class="{'border-primary ring-2 ring-primary/10': createUserMode == 'adminOnly', 'border-stone-300 shadow-sm hover:border-stone-400/70 hover:shadow': createUserMode == 'adminOnly'}">
              <div x-show="createUserMode == 'adminOnly'" class="flex items-center justify-center mt-1 rounded-full min-w-4 min-h-4 bg-primary border border-primary mr-1.5">
                <div class="bg-white w-1.5 h-1.5 rounded-full"></div>
              </div>
              <div x-show="createUserMode !== 'adminOnly'" class="mt-1 rounded-full min-w-4 min-h-4 border border-stone-300 mr-1.5 group-hover:border-stone-400" style="display: none"></div>
              <div>
                <p class="font-semibold">Administrators</p>
              </div>
            </div>
            <div @click="createUserMode = 'global'" class="cursor-pointer group flex items-start bg-white rounded-md border p-3" :class="{'border-primary ring-2 ring-primary/10': createUserMode == 'global', 'border-stone-300 shadow-sm hover:border-stone-400/70 hover:shadow': createUserMode !== 'global'}">
              <div x-show="createUserMode == 'global'" class="flex items-center justify-center mt-1 rounded-full min-w-4 min-h-4 bg-primary border border-primary mr-1.5">
                <div class="bg-white w-1.5 h-1.5 rounded-full"></div>
              </div>
              <div x-show="createUserMode !== 'global'" class="mt-1 rounded-full min-w-4 min-h-4 border border-stone-300 mr-1.5 group-hover:border-stone-400" style="display: none"></div>
              <div>
                <p class="font-semibold">Active Users</p>
              </div>
            </div>
            <div @click="createUserMode = 'selectUsers'" class="cursor-pointer group flex items-start bg-white rounded-md border p-3" :class="{'border-primary ring-2 ring-primary/10': createUserMode == 'selectUsers', 'border-stone-300 shadow-sm hover:border-stone-400/70 hover:shadow': createUserMode !== 'selectUsers'}">
              <div x-show="createUserMode == 'selectUsers'" class="flex items-center justify-center mt-1 rounded-full min-w-4 min-h-4 bg-primary border border-primary mr-1.5">
                <div class="bg-white w-1.5 h-1.5 rounded-full"></div>
              </div>
              <div x-show="createUserMode !== 'selectUsers'" class="mt-1 rounded-full min-w-4 min-h-4 border border-stone-300 mr-1.5 group-hover:border-stone-400" style="display: none"></div>
              <div>
                <p class="font-semibold">Select Users</p>
              </div>
            </div>
          </div>

          <template x-if="createUserMode == 'selectUsers'">
            <div class="border border-stone-200 rounded-md shadow-sm overflow-x-auto">
              <table class="w-full text-left">
                <thead class="bg-stone-100 border-b-2 border-stone-200">
                  <tr>
                    <th class="px-2 py-1 text-sm font-semibold text-stone-600"></th>
                    <th class="px-2 py-1 text-sm font-semibold text-stone-600">Username</th>
                    <th class="px-2 py-1 text-sm font-semibold text-stone-600">Email</th>
                  </tr>
                </thead>
                <tbody>
                  <template x-for="user in users" :key="user.id">
                    <tr x-show="user.is_active" cclass="border-b border-stone-200 last:border-transparent">
                      <td x-show="!user.is_admin" class="text-center px-2 py-1">
                        <input type="checkbox" :value="user.id" x-model="createUsers" class="text-sm w-4 h-4 accent-primary mt-[0.3rem] cursor-pointer" />
                      </td>
                      <td x-show="user.is_admin" class="text-center px-2 py-1 text-sm text-stone-500">Admin</td>
                      <td class="px-2 py-1" x-text="user.username"></td>
                      <td class="px-2 py-1" x-text="user.email"></td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </template>
        </div>

        <div x-show="!showAccessControls">
          <!-- Basic settings -->
          <template x-for="setting in activePlugin.settings" :key="setting.name">
            <template x-if="!setting.advanced">
              <div class="mb-3">
                <div class="flex items-center">
                  <span class="" x-text="setting.name"></span><span x-show="setting.required" class="ml-0.5 text-rose-600">*</span>
                  <div x-show="setting.private" x-data="{'show': false}" @mouseover="show = true" @mouseover.away="show = false" class="relative flex items-center ml-1">
                    <svg class="w-3.5 h-3.5 text-stone-500 mr-0.5 cursor-help" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z"></path>
                      <path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0115.75 12zM12.53 15.713l-4.243-4.244a3.75 3.75 0 004.243 4.243z"></path>
                      <path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 00-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 016.75 12z"></path>
                    </svg>
                    <span x-show="show" class="absolute top-0 left-4 z-10 px-2 py-1 rounded bg-stone-800 shadow-lg w-max text-stone-50 text-sm"> Private field. Editable and available to agents. Not available for user viewing. </span>
                  </div>
                </div>
                <div>
                  <p class="text-stone-500 text-sm mb-0.5" x-text="setting.description"></p>
                </div>
                <template x-if="setting.type === 'text'">
                  <div
                    @click.outside="isOpen = false"
                    class="relative w-full"
                    x-data="{
                      isOpen: false,
                      showAll: false,
                      filteredOptions() {
                          // Check if selections exists and is an array, default to empty array if not
                          const selections = Array.isArray(setting.selections) ? setting.selections : [];
                          const filterText = this.createSetting[setting.name]?.toLowerCase() || '';
                          const groupedOptions = selections.reduce((acc, option) => {
                              if (typeof option === 'object' && option.group && Array.isArray(option.values)) {
                                  acc[option.group] = (acc[option.group] || []).concat(option.values);
                              } else {
                                  acc['Other Options'] = (acc['Other Options'] || []).concat(option);
                              }
                              return acc;
                          }, {});
                  
                          if (!filterText) {
                              return Object.keys(groupedOptions).map(group => ({ group, values: groupedOptions[group] }));
                          }
                          return Object.keys(groupedOptions).reduce((acc, group) => {
                              if (group.toLowerCase().includes(filterText)) {
                                  acc.push({ group, values: groupedOptions[group] });
                                  return acc;
                              }            
                              const filteredValues = groupedOptions[group].filter(value => value.toLowerCase().includes(filterText));
                              if (filteredValues.length) {
                                  acc.push({ group, values: filteredValues });
                              }
                              return acc;
                          }, []);
                      },
                      allOptions() {
                        const selections = Array.isArray(setting.selections) ? setting.selections : [];
                        const groupedOptions = selections.reduce((acc, option) => {
                            if (typeof option === 'object' && option.group && Array.isArray(option.values)) {
                                acc[option.group] = (acc[option.group] || []).concat(option.values);
                            } else {
                                acc['Other Options'] = (acc['Other Options'] || []).concat(option);
                            }
                            return acc;
                        }, {});
                        return Object.keys(groupedOptions).map(group => ({ group, values: groupedOptions[group] }));
                    }        
                      }"
                  >
                    <input type="search" autocomplete="off" x-model="createSetting[setting.name]" @focus="isOpen = true" @input="isOpen = true" :name="setting.name" :placeholder="setting.private ? 'Private field (write-only)...' : ''" :required="setting.required && !setting.private" class="w-full h-9 px-2.5 py-1 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10" />
                    <!-- Only show dropdown if isOpen is true and there are filtered options to show -->
                    <div x-show="isOpen && filteredOptions().length > 0" class="absolute w-full bg-white mt-1 p-1 border border-stone-300 max-h-[50vh] rounded-md shadow-lg overflow-auto z-10">
                      <div x-show="!showAll" class="flex items-center font-semibold text-xs uppercase tracking-wider mx-2 mt-1.5 mb-1">
                        <p>Suggested Options</p>
                        <p @click="showAll = true" class="ml-auto cursor-pointer text-primary hover:text-primary/80">Show All Options</p>
                      </div>
                      <div x-show="!showAll">
                        <template x-for="(groupedOption, index) in filteredOptions()" :key="index">
                          <div class="">
                            <div x-text="groupedOption.group" class="font-semibold text-xs text-stone-500 uppercase tracking-wider mx-2 mt-1.5 mb-1"></div>
                            <template x-for="value in groupedOption.values" :key="value">
                              <div x-text="value" @click="createSetting[setting.name] = value, isOpen = false" class="cursor-pointer px-2 py-1 rounded-md hover:bg-stone-200 focus:text-stone-800 -lg:p-3"></div>
                            </template>
                          </div>
                        </template>
                      </div>
                      <div x-show="showAll" class="flex items-center font-semibold text-xs uppercase tracking-wider mx-2 mt-1.5 mb-1">
                        <p>All Options</p>
                        <p @click="showAll = false" class="ml-auto cursor-pointer text-primary hover:text-primary/80">Show Suggested Options</p>
                      </div>
                      <div x-show="showAll">
                        <template x-for="(groupedOption, index) in allOptions()" :key="index">
                          <div class="">
                            <div x-text="groupedOption.group" class="font-semibold text-xs text-stone-500 uppercase tracking-wider mx-2 mt-1.5 mb-1"></div>
                            <template x-for="value in groupedOption.values" :key="value">
                              <div x-text="value" @click="createSetting[setting.name] = value, isOpen = false" class="cursor-pointer px-2 py-1 rounded-md hover:bg-stone-200 focus:text-stone-800 -lg:p-3"></div>
                            </template>
                          </div>
                        </template>
                      </div>
                    </div>
                  </div>
                </template>
                <template x-if="setting.type === 'textarea'">
                  <textarea x-model="createSetting[setting.name]" :name="setting.name" :required="setting.required && !setting.private" class="w-full h-40 px-3 py-2 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10"></textarea>
                </template>
                <template x-if="setting.type === 'select'">
                  <select x-model="createSetting[setting.name]" :name="setting.name" :required="setting.required && !setting.private" class="w-full h-9 px-2.5 py-1 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10">
                    <template x-for="option in setting.selections" :key="option">
                      <option x-bind:value="option" x-text="option"></option>
                    </template>
                  </select>
                </template>
                <template x-if="setting.type === 'number'">
                  <input type="number" step=".01" x-model="createSetting[setting.name]" :name="setting.name" :required="setting.required && !setting.private" class="w-full h-9 px-2.5 py-1 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10" />
                </template>
              </div>
            </template>
          </template>
          <!-- Advanced settings -->
          <template x-if="hasAdvancedSettings()">
            <div>
              <div @click="showAdvanced = !showAdvanced" class="mt-4 flex items-center cursor-pointer bg-stone-100 text-stone-500 w-max p-3 py-1.5 rounded-t-md hover:text-stone-800" :class="{'rounded-md': !showAdvanced, 'rounded-t-md': showAdvanced}">
                <p class="font-semibold">Show advanced settings</p>
                <svg class="ml-1.5 w-4 h-4" :class="{'rotate-180': showAdvanced}" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z" clip-rule="evenodd"></path></svg>
              </div>
              <template x-if="showAdvanced">
                <div class="p-3 rounded-b-md rounded-tr-md bg-stone-100">
                  <template x-for="setting in activePlugin.settings" :key="setting.name">
                    <div>
                      <template x-if="setting.advanced">
                        <div class="mb-3">
                          <div class="flex items-center">
                            <span class="" x-text="setting.name"></span>
                            <div x-show="setting.private" x-data="{'show': false}" @mouseover="show = true" @mouseover.away="show = false" class="relative flex items-center ml-1">
                              <svg class="w-3.5 h-3.5 text-stone-500 mr-0.5 cursor-help" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z"></path>
                                <path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0115.75 12zM12.53 15.713l-4.243-4.244a3.75 3.75 0 004.243 4.243z"></path>
                                <path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 00-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 016.75 12z"></path>
                              </svg>
                              <span x-show="show" class="absolute top-0 left-4 z-10 px-2 py-1 rounded bg-stone-800 shadow-lg w-max text-stone-50 text-sm">Available to plugin execution, hidden to users</span>
                            </div>
                          </div>
                          <div>
                            <p class="text-muted text-sm mb-0.5" x-text="setting.description"></p>
                          </div>
                          <template x-if="setting.type === 'text'">
                            <div
                              @click.outside="isOpen = false"
                              class="relative w-full"
                              x-data="{
                                isOpen: false,
                                filteredOptions() {
                                    // Check if selections exists and is an array, default to empty array if not
                                    const selections = Array.isArray(setting.selections) ? setting.selections : [];
                                    const filterText = this.createSetting[setting.name]?.toLowerCase() || '';
                                    const groupedOptions = selections.reduce((acc, option) => {
                                        if (typeof option === 'object' && option.group && Array.isArray(option.values)) {
                                            acc[option.group] = (acc[option.group] || []).concat(option.values);
                                        } else {
                                            acc['Other Options'] = (acc['Other Options'] || []).concat(option);
                                        }
                                        return acc;
                                    }, {});
                            
                                    if (!filterText) {
                                        return Object.keys(groupedOptions).map(group => ({ group, values: groupedOptions[group] }));
                                    }
                                    return Object.keys(groupedOptions).reduce((acc, group) => {
                                        if (group.toLowerCase().includes(filterText)) {
                                            acc.push({ group, values: groupedOptions[group] });
                                            return acc;
                                        }            
                                        const filteredValues = groupedOptions[group].filter(value => value.toLowerCase().includes(filterText));
                                        if (filteredValues.length) {
                                            acc.push({ group, values: filteredValues });
                                        }
                                        return acc;
                                    }, []);
                                }
                                }"
                            >
                              <input type="text" x-model="createSetting[setting.name]" @focus="isOpen = true" @input="isOpen = true" :name="setting.name" :placeholder="setting.private ? 'Private field (write-only)...' : ''" :required="setting.required && !setting.private" class="w-full h-9 px-2.5 py-1 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10" />
                              <!-- Only show dropdown if isOpen is true and there are filtered options to show -->
                              <div x-show="isOpen && filteredOptions().length > 0" class="absolute w-full bg-white mt-1 p-1 border border-stone-300 max-h-[50vh] rounded-md shadow-lg overflow-auto z-10">
                                <template x-for="(groupedOption, index) in filteredOptions()" :key="index">
                                  <div class="">
                                    <div x-text="groupedOption.group" class="font-semibold text-xs text-stone-500 uppercase tracking-wider mx-2 mt-1.5 mb-1"></div>
                                    <template x-for="value in groupedOption.values" :key="value">
                                      <div x-text="value" @click="createSetting[setting.name] = value, isOpen = false" class="cursor-pointer px-2 py-1 rounded-md hover:bg-stone-200 focus:text-stone-800 -lg:p-3"></div>
                                    </template>
                                  </div>
                                </template>
                              </div>
                            </div>
                          </template>
                          <template x-if="setting.type === 'textarea'">
                            <textarea x-model="createSetting[setting.name]" :name="setting.name" class="w-full h-40 px-3 py-2 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10"></textarea>
                          </template>
                          <template x-if="setting.type === 'select'">
                            <select x-model="createSetting[setting.name]" :name="setting.name" class="w-full h-9 px-2.5 py-1 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10">
                              <template x-for="option in setting.selections" :key="option">
                                <option x-bind:value="option" x-text="option"></option>
                              </template>
                            </select>
                          </template>
                          <template x-if="setting.type === 'number'">
                            <input type="number" step=".01" x-model="createSetting[setting.name]" :name="setting.name" class="w-full h-9 px-2.5 py-1 rounded-md bg-white shadow-sm border border-stone-400/50 outline-none transition placeholder:text-stone-400 hover:border-stone-400/70 hover:shadow focus:bg-white focus:border-primary focus:ring-2 focus:ring-primary/10" />
                          </template>
                        </div>
                      </template>
                    </div>
                  </template>
                </div>
              </template>
            </div>
          </template>
        </div>

        <div class="mt-20">&nbsp;</div>
      </div>
    </div>
    <div x-show="activePluginID !== ''" class="sticky bottom-0 right-0 w-full py-2 px-3 bg-white border-t border-stone-200">
      <div class="max-w-2xl mx-auto px-3 flex items-center">
        <button @click="createPanel()" type="submit" class="ml-auto flex items-center justify-center font-semibold bg-primary px-2.5 h-9 rounded-md shadow-sm text-stone-50 transition duration-500 hover:border-stone-900 hover:shadow-lg focus:shadow-none">Create New Panel</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
