@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  src: url('/static/promptpanel/fonts/InterVariable.woff2') format('woff2');
}
[x-cloak] {
  display: none !important;
}
body,
html {
  font-size: 14px;
}
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after{
  content: "" !important;
}
